<h1>listado de las universidades </h1>
<ul class="University"></ul>
<tbody>
  <tr *ngFor="let University of unis">
      <td>Nombre de la universidad ---</td>
      <td>{{University.name}}</td>
  </tr>
</tbody>